<% if @users.empty? %>
  <li class="pl-4 pr-6 py-4 m-4 bg-white rounded-2xl shadow text-md font-bold">
    <%= t("decidim.components.feeds_ui.user.filter.noUser") %>
  </li>
<% else %>
  <% @users.each do |user| %>
    <li>
      <%= link_to Decidim::UserPresenter.new(user).profile_url, class: "grow shrink basis-0 pl-4 pr-6 py-4 m-4 bg-white rounded-2xl shadow justify-between items-center gap-4 flex" do %>
        <div class="py-2 flex-col justify-start items-start flex">
          <span class="font-semibold"><%= user.name %></span>
          <span>@<%= user.nickname %></span>
        </div>
        <span class="rounded-full w-[50px] h-[50px] overflow-hidden">
          <% if user.avatar.attached? %>
            <%= image_tag(
                  user.attached_uploader(:avatar).path(),
                  alt: decidim_sanitize(user.nickname), 
                  class: 'block w-full h-full object-cover'
                )
            %>
          <% end %>
        </span>
      <% end %>
    </li>
  <% end %>
<% end %>