<main class="feedsUI__user px-4">
  <button id="feedsUI__user_filterButton" class="justify-start items-center gap-1 inline-flex my-4 mx-2 p-2 font-bold text-md" aria-expanded="false" aria-controls="feedsUI__user_filter">
    <%= icon "filter-2-line", class: "h-[20px] w-auto" %><span><%= t("decidim.components.feeds_ui.user.filter.title") %></span>
  </button> 
  <div id="feedsUI__user_filter" class="feedsUI__user_filter">
    <%= form_tag(decidim_feeds_ui.allusers_path, method: :get, id: "feedsUI__user_filterForm", remote: true, class: "flex flex-col gap-4 px-4 pt-0 pb-4") do %>
      <%= label_tag :name, class: "flex flex-col gap-1" do %>
        <%= t("decidim.components.feeds_ui.user.filter.name") %>
        <%= text_field_tag :name, params[:name], id: "feedsUI__user_name", class: "reset-defaults p-4 border border-gray rounded-md", autocomplete: "off" %>
      <% end %>
      <%= label_tag :interest, class: "flex flex-col gap-1" do %>
        <%= t("decidim.components.feeds_ui.user.filter.interest") %>
        <%= text_field_tag :interest, params[:interest], id: "feedsUI__user_interest", class: "reset-defaults p-4 border border-gray rounded-md", autocomplete: "off" %>
      <% end %>
      <%= label_tag :apartment, class: "flex flex-col gap-1" do %>
        <%= t("decidim.components.feeds_ui.user.filter.block") %>
        <%= text_field_tag :apartment, params[:apartment], id: "feedsUI__user_apartment", class: "reset-defaults p-4 border border-gray rounded-md", autocomplete: "off" %>
      <% end %>
    <% end %>
  </div>
  <div class="user_display" aria-live="polite">
    <ul>
      <%= render partial: "users_list", locals: { users: @users } %>
    </ul>
  </div>
</main>
<%= append_javascript_pack_tag "decidim_feeds_ui" %>
<style>
.decidim-accessibility-badge{display:none;}
</style>