<main class="feedsUI__user px-4">
  <button id="feedsUI__user_filterButton" class="justify-start items-center gap-1 inline-flex my-4 mx-2 p-2 font-bold text-md" aria-expanded="false" aria-controls="feedsUI__user_filter">
    <%= icon "filter-2-line", class: "h-[20px] w-auto" %><span><%= t("decidim.components.feeds_ui.user.filter.title") %></span>
  </button> 
  <div id="feedsUI__user_filter" class="feedsUI__user_filter">
    <%= form_tag(decidim_feeds_ui.allusers_path, method: :get, id: "user_filter", remote: true, class: "flex flex-col gap-4 px-4 pt-0 pb-4") do %>
      <%= label_tag :name, class: "flex flex-col gap-1" do %>
        <%= t("decidim.components.feeds_ui.user.filter.name") %>
        <%= text_field_tag :name, params[:name], id: "feedsUI__user_name", class: "reset-defaults p-4 border border-gray rounded-md" %>
      <% end %>
      <%= label_tag :interest, class: "flex flex-col gap-1" do %>
        <%= t("decidim.components.feeds_ui.user.filter.interest") %>
        <%= text_field_tag :interest, params[:interest], id: "feedsUI__user_interest", class: "reset-defaults p-4 border border-gray rounded-md" %>
      <% end %>
      <%= label_tag :apartment, class: "flex flex-col gap-1" do %>
        <%= t("decidim.components.feeds_ui.user.filter.block") %>
        <%= text_field_tag :apartment, params[:apartment], id: "feedsUI__user_apartment", class: "reset-defaults p-4 border border-gray rounded-md" %>
      <% end %>
    <% end %>
  </div>
  <div class="">
    <ul>
      <% @users.each do |user| %>
        <li>
          <a href="/feeds_ui/user_profile/<%= user.id %>" class="grow shrink basis-0 pl-4 pr-6 py-4 m-4 bg-white rounded-2xl shadow justify-between items-center gap-4 flex">
            <div class="py-2 flex-col justify-start items-start flex">
              <span class="font-semibold"><%= user.name %></span>
              <span>@<%= user.nickname %></span>
            </div>
            <span class="rounded-full w-[50px] h-[50px] overflow-hidden">
              <%= image_tag(
              user.attached_uploader(:avatar).path(),
              alt: decidim_sanitize(user.nickname), 
              class: 'block w-full h-full object-cover'
              )
              %>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</main>
<%= append_javascript_pack_tag "decidim_feeds_ui" %>
<style>
.decidim-accessibility-badge{display:none;}
</style>
