<%
columns ||= 6
# Class names need to be complete, not metaprogrammed, because of Tailwind class purge
css_class = case columns
            when 10 then "cols-10"
            when 8 then "cols-8"
            else "cols-6"
            end
%>
<%= render layout:"layouts/decidim/shared/layout_center" do %>
  <div class="w-12 h-5 justify-start items-end gap-1 inline-flex">
    <%= icon "filter-2-line" %> 
    <%= t("decidim.components.feeds_ui.user.filter")%>
  </div>
  <div class="">
    <ul>
      <% @users.each do |user| %>
        <li class="grow shrink basis-0 pl-4 pr-6 py-2 bg-white rounded-2xl shadow justify-between items-center gap-4 flex">
          <div class="py-2 flex-col justify-start items-start flex">
            <span class="font-semibold"><%= user.name %></span>
            <span>@<%= user.nickname %></span>
          </div>   
          <%= image_tag(user.attached_uploader(:avatar).path(variant: :thumb), alt: decidim_sanitize(user.name), class: 'block rounded-full') %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>