<main class="feedsUI__user px-4">
  <div class="flex mt-4 gap-4">
    <div class="w-1/2 flex flex-col">
      <h1 class="text-xl font-bold h2"><%= @user.name %></h1>
      <p class="text-base">@<%= @user.nickname %></p>
      <%# if @user.direct_messages_enabled?(context) %>
        <%= link_to current_or_new_conversation_path_with(@user), class: "flex gap-1 mt-4 items-center" do %>
          <%= icon "mail-send-line" %>
          <span><%= t("decidim.profiles.show.send_private_message") %></span>
        <% end %>
      <%# end %>
    </div>
    <div class="w-1/2">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.attached_uploader(:avatar).path(), alt: t("decidim.author.avatar", name: decidim_sanitize(@user.name)), class: "w-[250px] h-[250px] object-cover rounded-md" %>
      <% end %>
    </div>
  </div>

  <div class="py-8 px-4">
    <%= @user.about.to_s%>
  </div>

</main>