<% if current_user %> 
  <%= link_to decidim.root_url, class: "main-bar__links-mobile__item" do %>
    <%= icon "home-5-line" %><span><%= t("decidim.components.feeds_ui.mainMenu.home") %></span>
  <% end %>

  <button id="dropdown-trigger-links-mobile-search" class="main-bar__links-mobile__item" data-component="dropdown" data-target="dropdown-menu-search-mobile" data-autofocus="input-search-mobile">
    <%= icon "group-2-line" %><span><%= t("decidim.components.feeds_ui.mainMenu.group") %></span>
  </button>

  <button class="btn circle main-bar__links-mobile__item" aria-expanded="false" aria-controls="newElementForm" type="button">
    <%= icon "close-circle-line" %>
    <span class="sr-only"><%= t("decidim.components.feeds.newFeed.title") %></span>
  </button>

  <% link_class = current_page?(decidim_feeds_ui.allusers_path) ? 'active' : '' %>
  <%= link_to decidim_feeds_ui.allusers_path, class: "main-bar__links-mobile__item #{link_class}" do %>
    <%= icon "team-line" %><span><%= t("decidim.components.feeds_ui.mainMenu.user") %></span>
  <% end %>

  <% link_class = current_page?(decidim.conversations_path) ? 'active' : '' %>
  <%= link_to decidim.conversations_path, class: "main-bar__links-mobile__item #{link_class}" do %>
    <%= icon "chat-4-line" %>
    <span><%= t("decidim.components.feeds_ui.mainMenu.messenger") %></span>
    <% if current_user.unread_conversations.any? %>
      <span class="absolute translate-x-5 h-2 w-2 rounded-full bg-feeds-notification" data-unread-conversations="true" data-unread-items="true"></span>
    <% end %>
  <% end %>
<% end %>