<%= link_to decidim.root_url, class: "main-bar__links-mobile__item" do %>
  <%= icon "home-5-line" %><span><%= t("decidim.components.feeds_ui.mainMenu.home") %></span>
<% end %>

<button id="dropdown-trigger-links-mobile-search" class="main-bar__links-mobile__item" data-component="dropdown" data-target="dropdown-menu-search-mobile" data-autofocus="input-search-mobile">
  <%= icon "group-2-line" %><span><%= t("decidim.components.feeds_ui.mainMenu.group") %></span>
</button>

<button class="btn circle main-bar__links-mobile__item" aria-expanded="false" aria-controls="newElementForm" type="button">
  <%= icon "close-circle-line" %>
  <span class="sr-only"><%= t("decidim.components.feeds.newFeed.title") %></span>
</button>

<button id="dropdown-trigger-links-mobile-search" class="main-bar__links-mobile__item" data-component="dropdown" data-target="dropdown-menu-search-mobile" data-autofocus="input-search-mobile">
  <%= icon "team-line" %><span><%= t("decidim.components.feeds_ui.mainMenu.user") %></span>
</button>

<%= link_to decidim.new_user_session_path, class: "main-bar__links-mobile__item" do %>
  <%= icon "chat-4-line" %><span><%= t("decidim.components.feeds_ui.mainMenu.messenger") %></span>
<% end %>