<div id="main-bar" class="main-bar__container">
  <div class="main-bar">
    <div class="main-bar__logo">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>
    <div class="main-bar__search">
      <%= render partial: "layouts/decidim/header/main_search" %>
    </div>
    <div class="main-bar__links-desktop">
      <%= render partial: "layouts/decidim/header/main_links_desktop" %>
    </div>

    <div class="lg:hidden">
      <div class="main-bar__links-mobile-top">
         <%= render partial: "layouts/decidim/header/links_mobile_top" %>
      </div>

      <%# Sticky menu mobile %>
      <% if current_user %> 
        <div class="main-bar__links-mobile">
          <%= render partial: "layouts/decidim/header/main_links_mobile" %>
        </div>
      <% end %>
      

      <%# Overlay menus mobile %>
      <%= render partial: "layouts/decidim/header/main_links_mobile_search" %>
      <%= render partial: "layouts/decidim/header/main_links_mobile_account" if current_user %>
    </div>
  </div>
</div>